@addTagHelper *, BleemSync.UI
@model BleemSync.Extensions.PlayStationClassic.Core.Models.PayloadConfig

<form method="post">
    <card title="BleemSync Preferences">
        <card-body>
            <checkbox asp-for="RuntimeLog" />
            <checkbox asp-for="RefreshLogs" />
            <checkbox asp-for="ForceRedump" />
            <checkbox asp-for="LinkInternalStorage" />
            <checkbox asp-for="LinkAlphabetize" />
            <checkbox asp-for="LaunchRetroArchFromStockUi" />
            <checkbox asp-for="BootSplash" />
            <checkbox asp-for="BootQuick" />
            <checkbox asp-for="BootDisableHealthWarning" />
            <checkbox asp-for="BootTargetStockUi" />
            <checkbox asp-for="BootTargetStockRetroArch" />
            <checkbox asp-for="BootTargetStockBootMenu" />
            <textbox asp-for="Mountpoint" />
            <textbox asp-for="BleemSyncPath" />
            <textbox asp-for="RetroArchPath" />
            <textbox asp-for="ImagesPath" />
            <textbox asp-for="ThemesPath" />
            <textbox asp-for="SoundsPath" />
            <textbox asp-for="RuntimeLogPath" />
            <textbox asp-for="RuntimeExePath" />
            <textbox asp-for="RuntimeFlagPath" />
            <textbox asp-for="DumpPath" />
            <textbox asp-for="SelectedTheme" />
            <checkbox asp-for="OverrideThemeMusic" />
            <checkbox asp-for="RandomThemeOnLoad" />
            <checkbox asp-for="BootMenuMusic" />
            <button type="submit" text="Save" />
            <p class="text-muted">
                A reboot is required for changes to apply.
            </p>
        </card-body>
    </card>
</form>