@addTagHelper *, BleemSync.UI
@model BleemSync.Extensions.PlayStationClassic.Core.Models.SystemPreferences

<form method="post">
    <card title="System Preferences">
        <card-body>
            <textbox asp-for="LauncherMenuMainRadius" />
            <textbox asp-for="LauncherMenuOptionRadius" />
            <textbox asp-for="LauncherMenuMainXDegrees" />
            <textbox asp-for="LauncherMenuOptionXDegrees" />
            <textbox asp-for="PerspectiveFovY" />
            <textbox asp-for="PerspectiveZNear" />
            <textbox asp-for="PerspectiveZFar" />
            <textbox asp-for="LauncherMenuMainYOffset" />
            <textbox asp-for="LauncherMenuMainZOffset" />
            <textbox asp-for="LauncherMenuOptionYOffset" />
            <textbox asp-for="LauncherMenuOptionZOffset" />
            <textbox asp-for="LauncherMenuSelectIconMainYOffset" />
            <textbox asp-for="LauncherMenuSelectIconMainZOffset" />
            <textbox asp-for="LauncherMenuSelectIconOptionYOffset" />
            <textbox asp-for="LauncherMenuSelectIconOptionZOffset" />
            <textbox asp-for="LauncherMenuDuration" />
            <textbox asp-for="LauncherMenuIconScale" />
            <textbox asp-for="KeyRepeatDelay" />
            <textbox asp-for="KeyRepeatInterval" />
            <textbox asp-for="DataLinkPath" />
            <textbox asp-for="DataOriginPath" />
            <textbox asp-for="GameImageLinkPath" />
            <textbox asp-for="GameImageOriginPath" />
            <textbox asp-for="RunPath" />
            <textbox asp-for="UiPath" />
            <textbox asp-for="InitPath" />
            <textbox asp-for="ExecPath" />
            <textbox asp-for="BiosPath" />
            <textbox asp-for="RunBiosPath" />
            <textbox asp-for="PowerSave" />
            <button type="submit" text="Save" />
        </card-body>
    </card>
</form>