@addTagHelper *, BleemSync.UI
@model IEnumerable<BleemSync.Central.Data.Models.MegaDrive.Game>

<card>
    <card-body>
        <table id="datatable" class="table pmd-table table-hover table-striped table-sm display responsive nowrap" cellspacing="0" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </card-body>
</card>

@section Scripts {
    <script>
        $('#datatable').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            order: [1, 'asc'],
            ordering: false,
            bFilter: true,
            bLengthChange: true,
            "pagingType": "full_numbers",
            "paging": true,
            "searching": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Action("DataTable")",
                "type": "POST"
            },
            language: {
                info: " _START_ - _END_ of _TOTAL_ ",
                sLengthMenu: "<span class='custom-select-title'>Rows per page:</span> <span class='custom-select'> _MENU_ </span>",
                sSearch: "",
                sSearchPlaceholder: "Search",
            },
            dom:
                "<'pmd-card-title'<'data-table-title'><'search-paper pmd-textfield'f>>" +
                "<'custom-select-info'<'custom-select-item'><'custom-select-action'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'pmd-card-footer' <'pmd-datatable-pagination' l i p>>",
        }).on('draw', function () {
            $('.pmd-checkbox input').after('<span class="pmd-checkbox-label">&nbsp;</span>');
            customizeDatatableSelect();
        });

        customizeDatatableSelect();

        $('.custom-select-info').hide();

        function customizeDatatableSelect() {
            $('.custom-select').removeClass('custom-select').addClass('datatable-select-container');

            $('.datatable-select-container select').removeClass('custom-select').addClass('select-simple').addClass('form-control').addClass('pmd-select2').select2({
                theme: "bootstrap",
                minimumResultsForSearch: Infinity,
            });
        }
    </script>
}