# 8Bitdo F30                  - http://www.8bitdo.com/     - http://www.8bitdo.com/n30-f30/
# Firmware v4.01              - http://support.8bitdo.com/ - http://download.8bitdo.com/Firmware/Controller/N30+F30/N30+F30_Firmware_V4.01.zip

input_driver = "udev"
input_device = "8Bitdo FC30 GamePad"
input_device_display_name = "8Bitdo F30"

# Hex vid:pid is found using "dmesg -w" or "tail -f /var/log/syslog" and converted to Decimal using http://www.binaryhexconverter.com/hex-to-decimal-converter
# Hex vid:pid = 2DC8:2810 -> Decimal vid:pid = 11720:10256
input_vendor_id = "11720"
input_product_id = "10256"

input_b_btn = "1"
input_y_btn = "4"
input_select_btn = "10"
input_start_btn = "11"
input_a_btn = "0"
input_x_btn = "3"
input_l_btn = "6"
input_r_btn = "7"

input_b_btn_label = "B"
input_y_btn_label = "Y"
input_select_btn_label = "Select"
input_start_btn_label = "Start"
input_a_btn_label = "A"
input_x_btn_label = "X"
input_l_btn_label = "L"
input_r_btn_label = "R"

input_up_axis = "-1"
input_down_axis = "+1"
input_left_axis = "-0"
input_right_axis = "+0"

input_up_axis_label = "Dpad Up"
input_down_axis_label = "Dpad Down"
input_left_axis_label = "Dpad Left"
input_right_axis_label = "Dpad Right"

# -------------------------------------------------------------------------------------------------------------------------------------------------
# If RetroArch do NOT detect the controller when connected via Bluetooth and won't even recognize manual binding,
# fix it by adding this udev rule (the line below WITHOUT the # symbol at the beginning!) to "/etc/udev/rules.d/10-local.rules" and reboot.
# SUBSYSTEM=="input", ATTRS{name}=="8Bitdo FC30 GamePad", MODE="0666", ENV{ID_INPUT_JOYSTICK}="1"
# -------------------------------------------------------------------------------------------------------------------------------------------------
