# Bliss-Box 4-Play            - http://skunx7.wixsite.com/bliss-box
# Firmware v2.225             - http://skunx7.wixsite.com/bliss-box/downloads     - https://anyfile.255bits.com/wix/download?id=6c071e5f82a0bf863c94bd1b5febc230

input_driver = "udev"
input_device = "Bliss-Box 4-Play ATARI"
input_device_display_name = "4-Play P4 ATARI"

# Hex vid:pid is found using "dmesg -w" or "tail -f /var/log/syslog" and converted to Decimal using http://www.binaryhexconverter.com/hex-to-decimal-converter
# Hex vid:pid = 16d0:0d07 -> Decimal vid:pid = 5840:3335
input_vendor_id = "5840"
input_product_id = "3335"

input_b_btn = "1"

input_b_btn_label = "Fire"

input_up_axis = "-1"
input_down_axis = "+1"
input_left_axis = "-0"
input_right_axis = "+0"

input_up_axis_label = "Up"
input_down_axis_label = "Down"
input_left_axis_label = "Left"
input_right_axis_label = "Right"

# -------------------------------------------------------------------------------------------------------------------------------------------------
# If RetroArch does NOT detect the controller when connected and port has been reset,
# fix it by adding this udev rule (the line below WITHOUT the # symbol at the beginning!) to "/etc/udev/rules.d/10-local.rules" and reboot.
# SUBSYSTEM=="usb", ATTRS{idVendor}=="16d0", MODE="0666"
# -------------------------------------------------------------------------------------------------------------------------------------------------
