#Bus 001 Device 016: ID 0a5c:217f Broadcom Corp. BCM2045B (BDC-2.1)
input_driver = "udev"
input_device = "ION iCade"
#input_vendor_id = "2652"
#input_product_id = "8575"
input_b_btn = "9"
input_y_btn = "6"
input_select_btn = "5"
input_start_btn = "4"
input_up_btn = "0"
input_down_btn = "3"
input_left_btn = "1"
input_right_btn = "2"
input_a_btn = "8"
input_x_btn = "7"
input_l_btn = "11"
input_r_btn = "10"
