# Xiaomi Mi Bluetooth Gamepad
# https://xiaomi-mi.com/accessories-for-tv/xiaomi-mi-bluetooth-gamepad/

input_driver = "udev"
input_device = "小米蓝牙手柄"

# Hex vid:pid is found using "dmesg -w" or "tail -f /var/log/syslog" and converted to Decimal using http://www.binaryhexconverter.com/hex-to-decimal-converter
# Hex vid:pid = 2717:3144 -> Decimal vid:pid = 10007:12612

input_vendor_id = "10007"
input_product_id = "12612"

input_b_btn = "4"
input_y_btn = "7"
input_select_btn = "14"
input_start_btn = "15"
input_up_btn = "h0up"
input_down_btn = "h0down"
input_left_btn = "h0left"
input_right_btn = "h0right"
input_a_btn = "5"
input_x_btn = "8"
input_l_btn = "10"
input_r_btn = "11"
input_l2_btn = "12"
input_r2_btn = "13"
input_l3_btn = "17"
input_r3_btn = "18"
input_l_x_plus_axis = "+0"
input_l_x_minus_axis = "-0"
input_l_y_plus_axis = "+1"
input_l_y_minus_axis = "-1"
input_r_x_plus_axis = "+2"
input_r_x_minus_axis = "-2"
input_r_y_plus_axis = "+5"
input_r_y_minus_axis = "-5"
