@model BleemSync.ViewModels.NavbarViewModel
@using BleemSync.Services.Extensions;

<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" data-target="sidebar" data-placement="left" data-position="slidepush" is-open="true" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left pmd-sidebar-toggle">
                <i class="material-icons md-light">menu</i>
            </a>
            <a href="/" class="navbar-brand"><img src="~/img/logo.png" alt="BleemSync Logo" style="width: 96px;" /></a>
        </div>
        <div class="pmd-navbar-right-icon pull-right">
            <span class="dropdown pmd-dropdown clearfix">
                <button class="btn pmd-ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-expanded="true">
                    <i class="material-icons">usb</i>
                    Choose Drive
                    <span class="caret"></span>
                </button>
                <ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu">
                    @foreach (var drive in Model.Drives)
                    {
                        if (drive.DriveIsFormattedProperly())
                        {
                            var driveUsagePercent = ((decimal)drive.TotalFreeSpace / (decimal)drive.TotalSize) * 100;

                            <li>
                                <a href="about:blank">@drive.VolumeLabel (@drive.RootDirectory)</a>
                                <div class="text-center">
                                    <small>@drive.GetHumanReadableFreeSpace() / @drive.GetHumanReadableTotalSpace()</small>
                                </div>
                                <div class="progress-rounded progress pmd-progress">
                                	<div class="progress-bar progress-bar-info" style="width: @driveUsagePercent%;"></div>
                              	</div>
                            </li>
                        }
                    }
                </ul>
            </span>
        </div>
        @*<div class="pmd-navbar-right-icon pull-right">
                <a href="/Games/Sync"
                   class="btn my-auto pmd-btn-raised pmd-ripple-effect btn-success"
                   style="margin: .74rem 0; height: 40px;"
                   data-ajax="true"
                   data-ajax-method="post"
                   data-ajax-confirm="Continuing will reboot the console. Are you sure?">Sync</a>
            </div>*@
    </div>
</nav>