<div class="modal fade" id="progress-bar-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info "></div>
                </div>
            </div>
        </div>
    </div>
</div>