@addTagHelper *, BleemSync.UI

<div id="upload-queue" class="container-fluid pmd-card pmd-z-depth">
    <div class="upload-queue--progress">
        <div>
            Uploading: <span id="upload-queue--current-upload-name"></span>
            <button primary icon="expand_less" class="pull-right upload-queue--expand-list-button" onclick="$('#upload-queue').toggleClass('expand')" />
        </div>
        <div id="progress-bar">
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info "></div>
            </div>
        </div>
    </div>
    <div class="upload-queue--list list-group pmd-card pmd-z-depth">
    </div>
</div>