@addTagHelper *, BleemSync.UI
@model BleemSync.Central.Data.Models.PlayStation.Game

<card title="Edit PlayStation Game">
    <card-body>
        <form method="post">
            <partial name="Partials/Fields.cshtml" model="Model" />
            <button type="submit" text="Save!" />
        </form>
    </card-body>
</card>